<div class="panel panel-default">
            <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Url</th>
                            <th>Plugin</th>
                            <th>Comment</th>
                            <th> <button type="button" ng-click="deleteLink()" class="btn btn-default btn-xs" ><span class="glyphicon glyphicon-trash"></span></button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{url}}</td>
                            <td>{{plugin}}</td>
                            <td rowspan="2">
                               
                                <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="comment" ></textarea>
                                <div class="modal-footer">
                                <button type="button" ng-click="updateComment()" class="btn btn-default btn-xs" >Update</button>
                                </div>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>