<div class="panel panel-default">
			<div class="row">
				<table class="table">
                        <thead>
                        <tr>
                            <th><a href="{{url}}" target="_blank">{{url}}</a></th>
							<th>Details</th>
							<th>Payments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><img width="400" height="350" class="img-thumbnail" src="{{img}}" ></td>
                            <td>
								<ul>
									<li><span class="badge">Make</span>&nbsp&nbsp&nbsp {{make}}</li>
                                    <li><span class="badge">Model</span>&nbsp&nbsp&nbsp {{model}}</li>
                                    <li><span class="badge">Trim</span>&nbsp&nbsp&nbsp {{trim}}</li>
                                    <li><span class="badge">Year</span>&nbsp&nbsp&nbsp {{year}}</li>
								</ul>
							</td>
                            <td>
								<ul>
									<li><span class="badge">Lease</span>&nbsp&nbsp&nbsp {{lease}}</li>
                                    <li><span class="badge">Finance</span>&nbsp&nbsp&nbsp {{finance}}</li>
                                    <li><span class="badge">MSRP</span>&nbsp&nbsp&nbsp {{msrp}}</li>
								</ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
			</div>
		</div>