	<div class="panel panel-default">
			<div class="row">
				<table class="table">
                        <thead>
                        <tr>
							<th>Image</th>
							<th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
							<td><img width="80%" height="400" class="img-thumbnail imgCar" src="{{img}}" ></td>
                            <td>
								<ul class="infoList">
									<li><input type="text" class="form-control" placeholder="Make" ng-model="make"></li>
									<br/>
									<li><input type="text" class="form-control" placeholder="Model" ng-model="model"></li>
									<br/>
									<li><input type="text" class="form-control" placeholder="Trim" ng-model="trim"></li>
									<br/>
									<li><input type="text" class="form-control" placeholder="Year" ng-model="year"></li>
									<br/>
									<li><input type="text" class="form-control" placeholder="Lease" ng-model="lease"></li>
									<br/>
									<li><input type="text" class="form-control" placeholder="Finanace" ng-model="finance"></li>
									<br/>									
									<li><input type="text" class="form-control" placeholder="MSRP" ng-model="msrp"></li>
									<br/>									
								</ul>
							</td>
							
                        </tr>
                        </tbody>
                    </table>
			</div>
			<div class="row">
				<div class="col-md-6">
				
				</div>
				<div class="col-md-6">
				<button class="btn btn-default pull-right" ng-click="submitInfo()">Submit</button>
				&nbsp&nbsp
				<button class="btn btn-default pull-right" ng-click="hideInfo()">Remove</button>
				
				</div>
			</div>
		</div>