


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        Carpricegrabber
    
    </title>

    
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="assets/css/toolkit-startup.css" rel="stylesheet">
      <link href="assets/css/application-startup.css" rel="stylesheet">
    

    

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }

      .praise {
        border: transparent ;
        border-radius: 5px;
        background: rgba(38, 47, 54, 0.5)
      }
    </style>
  </head>


<body>
  


<div class="block app-ribbon py-5">
  <div class="container text-xs-center">
   <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="/">
      <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">Carpricegrabber</strong>
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
         <li class="nav-item px-1 ">
          <a class="nav-link" href="/login" style="color:white">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</div>


<div class="block app-price-plans" id="plans">
  <div class="container text-center">
    <h2 class="text-muted text-uppercase mb-4">{{plan}}</h2>
    <div class="form-group">
      <form class="form-horizontal" method="POST" action="/clientRegister" >
      <input type="hidden" value="{{plan}}" name="plan">
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="website" placeholder="Website" name="website">
    </div>

     <div class="form-group">
        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
    </div>

    <div class="form-group">
    
        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" id="dwebsites" placeholder="List of Dealer Websites" name="dealers"></textarea>
    </div>
    
    <div class="form-group">        
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
      </form>
    </div>  
  </div>
</div>

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
            We’ve been working on Car Price Grabber for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: info@carpricegrabber.com">info@carpricegrabber.com</a>.
          </li>
        </ul>
      </div>
  </div>
</div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
  </body>
</html>

