
  <div class="panel panel-default">
   <div class="row">
     <div class="col-md-6">
       <div class="row">
         <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Dealership/Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dealership}}</td>
        <td>{{email}}</td>
      </tr>
    </tbody>
  </table>
  </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="row">
      <div class="col-md-3">
      <h6>Verified</h6>
      <label class="switch">
      <input type="checkbox" ng-model="verified" ng-checked="{{verified}}" ng-click="setVerified()">
      <div class="slider round"></div>
      </label>
      </div>

      <div class="col-md-3">
      <h6>Worker</h6>
      <label class="switch">
      <input type="checkbox" ng-model="isCrowdWorker" ng-checked="{{isCrowdWorker}}" ng-click="setCrowdWorker()">
      <div class="slider round"></div>
      </label>
      </div>

      <div class="col-md-3">
      <h6>Admin</h6>
      <label class="switch">
      <input type="checkbox" ng-model="isAdmin" ng-checked="{{isAdmin}}" ng-click="setAdmin()">
      <div class="slider round"></div>
      </label>
      </div>

      <div class="col-xs-3">
        <h6></h6>
      <button class="btn btn-default" ng-click="deleteUser()">
          <span class="glyphicon glyphicon-trash"></span>
      </button>
      </label>
      </div>
      </div>
     </div>
    </div>
  </div>
