<style>
.commands {
	margin-bottom: 5px;
}
.commands-list{
	list-style: none;
}

</style>
<div class="layout-row" layout-sm="column" layout-xs="column"  dragula>	
	<div style="height: 80px">
	</div>
</div>
<div class="layout-row" layout-sm="column" layout-xs="column">
	

	<div class="row">
	<div class="col-md-3">
		<ul class="commands-list">
			<li><button class="btn btn-default commands" ng-click="flushCars()">Flush Car Database</button></li>
			<li><button class="btn btn-default commands" ng-click="flushImages()">Flush Image Database</button></li>
		</ul>
	</div>
   </div>

</div>



