<style>
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-container {
width: 120px;
height: 74px;
}


/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<div class="layout-row" layout-sm="column" layout-xs="column"  dragula>	
	<div style="height: 80px">
	</div>
</div>

<div class="layout-row" layout-sm="column" layout-xs="column">
<div class="container">
<userpriv ng-repeat="user in users" verified="user.verified" is-crowd-worker="user.isCrowdWorker" is-admin="user.isAdmin" dealership="{{user.dealership}}" email="{{user.email}}" id="{{user._id}}" />
</div>
</div>
