<style>
.fixed {
  position: fixed;
  width: 80%;
  top: 80px;
  z-index: 20;
}


.details {
	list-style-type: none
}

.payments {
	list-style-type: none
}
</style>
<div class="layout-row" layout-sm="column" layout-xs="column"  dragula>	
	<div style="height: 80px">
	</div>
</div>
<div class='fixed'>
	<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div id="custom-search-input">
								<div class="input-group col-md-12">
									<input type="text" class="form-control input-lg" ng-model="query" placeholder="Example: dealer  make   model   trim   year  lease>200  year<2017  model=odyssey" />
									<span class="input-group-btn">
										<button class="btn btn-info btn-lg" type="button">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>
<div class="layout-row" layout-sm="column" layout-xs="column">
	<div class="container">
		<listcar ng-repeat="car in (filteredCars = (carList | filter:criteriaMatch(query)))" url="{{car.url}}"  img="{{car.img}}" make="{{car.make}}" model="{{car.model}}" trim="{{car.trim}}" year="{{car.year}}" lease="{{car.lease}}" finance="{{car.finance}}" msrp="{{car.msrp}}">
	</div>
</div>
