<style>
.fixed {
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 20;
}
</style>
<div id="link-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add a link</h4>
    </div>
    <div class="modal-body">
    <input class="form-control" type="text" placeholder="Url" ng-model="url">
    <br/>
    <div class="form-group">
    <label for="pwd">Comment</label>
    <textarea class="form-control" id="pwd" ng-model="comment">
    </textarea>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="addLink()" data-dismiss="modal">Add</button>
    </div>
    </div>
    </div>
</div>

<div class="layout-row" layout-sm="column" layout-xs="column"  dragula>	
	<div style="height: 80px">
	</div>
</div>
<div class="fixed">
    <button class="btn btn-primary btn-xl" style="margin-left: 70%" data-toggle="modal" data-target="#link-modal">Add a link</button>          
</div>
<div class="layout-row" layout-sm="column" layout-xs="column">
                
    <div class="container">
       <link-card ng-repeat="link in links" id="{{link._id}}" url="{{link.url}}" plugin="{{link.plugin}}" comment="link.comment"/>
    </div>
</div>
