<style>
.infoList{
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

.imgCar{
	margin-left: 0;
	margin-right: 0;
}
</style>

<div class="layout-row" layout-sm="column" layout-xs="column"  dragula>	
	<div style="height: 80px">
	</div>
</div>

<div class="layout-row" layout-sm="column" layout-xs="column">
	<div class="container">
	<workinfo ng-repeat="image in images" id="{{image._id}}" url="{{image.url}}" img="{{image.img}}" link="{{image.link}}" user="{{image.user}}" hash="{{image.hash}}" make="" model="" trim="" year="" lease="" finance="" msrp=""/>
	</div>
</div>
