<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class=" navbar shadow">
		<!-- Hamburger -->
		<button class="c-hamburger c-hamburger--htla is-active" ng-click="extend()">
			<span>toggle menu</span>
		</button>
		<div class="responsive-logo">
			carpricegrabber 
		</div>
		<!-- Left aligned menu below button -->
		<md-menu class="navbar-menu">
			<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<i class="mdi mdi-brightness-1 text-primary"></i>
			</md-button>
			<md-menu-content class="color-picker">
				<md-menu-item>
					<div layout="row" class="zero-padding">
						<md-button href="javascript:void(0)" id="blue" class="theme-picker" flex ng-click="changeTheme('blue')" aria-label="Blue"><i class="mdi mdi-brightness-1"></i></md-button></td>
						<md-button href="javascript:void(0)" id="red" class="theme-picker" ng-click="changeTheme('red')" aria-label="Red"><i class="mdi mdi-brightness-1"></i></md-button>
					</div>
				</md-menu-item>
				<md-menu-item>
					<div layout="row" class="zero-padding">
						<md-button href="javascript:void(0)" id="grey" class="theme-picker" flex ng-click="changeTheme('grey')" aria-label="Gray"><i class="mdi mdi-brightness-1"></i></md-button></td>
						<md-button href="javascript:void(0)" id="green" class="theme-picker" ng-click="changeTheme('green')" aria-label="Green"><i class="mdi mdi-brightness-1"></i></md-button>
					</div>
				</md-menu-item>
				<md-menu-item>
					<div layout="row" class="zero-padding">
						<md-button href="javascript:void(0)" id="purple" class="theme-picker" flex ng-click="changeTheme('purple')" aria-label="Purple"><i class="mdi mdi-brightness-1"></i></md-button></td>
						<md-button href="javascript:void(0)" id="cyan" class="theme-picker" ng-click="changeTheme('cyan')" aria-label="Cyan"><i class="mdi mdi-brightness-1"></i></md-button>
					</div>
				</md-menu-item>
			</md-menu-content>
		</md-menu>

		<nav class="right" style="margin-right: 20px; margin-top: 10px;">
			<md-button class="thisrtl" ng-click="rtl();">
				RTL
			</md-button>
			<md-menu md-position-mode="target-right target" >
				<md-button aria-label="Open demo menu" class="nav-btn" ng-click="$mdOpenMenu($event)">
					<div class="mdl-badge" data-badge="3"><i class="mdi mdi-email"></i></div>
				</md-button>
				<md-menu-content width="3" >
					<md-menu-item>
						<md-button ui-sref="inbox">Mail from Elsa</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="inbox">Inbox</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="inbox">Tickets confirmed</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="inbox">Check here</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu md-position-mode="target-right target" >
				<md-button aria-label="Open demo menu" class="nav-btn" ng-click="$mdOpenMenu($event)">
					<div class="mdl-badge" data-badge="3"><i class="mdi mdi-keyboard"></i></div>
				</md-button>
				<md-menu-content width="3" >
					<md-menu-item>
						<md-button ng-click="changeLanguage('en')">English</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="changeLanguage('ur')">اردو</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="changeLanguage('de')">Dutch</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="changeLanguage('Hn')">हिन्दी</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu md-position-mode="target-right target" >
				<md-button aria-label="Open demo menu" class="nav-btn" ng-click="$mdOpenMenu($event)">
					<div class="mdl-badge" data-badge="7"><i class="mdi mdi-bell"></i></div>
				</md-button>
				<md-menu-content width="3" >
					<md-menu-item>
						<md-button >2 new friends</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button >4 new messages</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button >Friend request accepted</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<md-menu md-position-mode="target-right target" >
				<md-button aria-label="Open demo menu" class="nav-btn" ng-click="$mdOpenMenu($event)">
					<i class="mdi mdi-dots-vertical"></i>
				</md-button>
				<md-menu-content width="3" >
					<md-menu-item>
						<md-button >Some Action</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ui-sref="login" style="display:flex;">Logout</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button >Disabled Action</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button >Yet Another Action</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</nav>

	</header>
<!-- Side bar here -->
<aside id="" class="sidebar">
	<div class="top-logo">
		<span class="smaller" style="font-family: 'Monoton', cursive !important">C</span>
	</div>
	<div class="top-logo-extended">
		<span class="smaller" style="font-family: 'Monoton', cursive !important; font-size:20px">car-price-grabber</span>
	</div>
	<div class="scrollbar" id="scroll">
		<div class="user-info">
			<div class="opacity">
				<div class="info">
					
				</div>
			</div>
		</div>
		<div class="dashboard-menu">
			<ul class="menu-list">
				<li ng-class="{active: $state.includes('home')}"><md-button ui-sref="admin" class=""><i class="mdi mdi-home-outline"></i> &nbsp;<span class="text">{{ 'Dashboard' | translate }}</span></md-button></li>
				<li ng-class="{active: $state.includes('users')}"><md-button ui-sref="users" class=""><i class="mdi mdi-account-multiple"></i> &nbsp;<span class="text">{{ 'Users' | translate }}</span></md-button></li>
				<li ng-class="{active: $state.includes('workspace')}" ng-click="workspace()"><md-button ui-sref="" class=""><i class="mdi mdi-worker"></i> &nbsp;<span class="text">{{ 'Work Space' | translate }}</span></md-button></li>
				<li ng-class="{active: $state.includes('login')}" ng-click="logout()" ><md-button ui-sref="" class=""><i class="mdi mdi-power-settings"></i> &nbsp;<span class="text">{{ 'Logout' | translate }}</span></md-button></li>
			</ul>
		</div>

	</div>
</aside>
<main class=" content-holder">
	<div class="page-content remodal-bg animsition" ng-class="{expandedContainer: $state.includes('users')}" >
		<!-- Your content goes here -->
		<div ui-view ></div>
	</div>
</main>
</div>