<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="navbar shadow">
		<!-- Hamburger -->
		<button class="c-hamburger c-hamburger--htla is-active" ng-click="extend()">
			<span>toggle menu</span>
		</button>
		
		<!-- Left aligned menu below button -->
		<md-menu class="navbar-menu">
			<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<i class="mdi mdi-brightness-1 text-primary"></i>
			</md-button>
		</md-menu>
		
	</header>
<!-- Side bar here -->
<aside id="" class="sidebar">
	<div class="top-logo">
		<span class="smaller" style="font-family: 'Monoton', cursive !important">C</span>
	</div>
	<div class="top-logo-extended">
		<span class="smaller" style="font-family: 'Monoton', cursive !important; font-size:20px">car-price-grabber</span>
	</div>
	<div class="scrollbar" id="scroll">
		<div class="user-info">
			<div class="opacity">
				<div class="info">
					{{user.dealership}}
				</div>
			</div>
		</div>
		<div class="dashboard-menu">
			<ul class="menu-list">
				<li ng-class="{active: $state.includes('workspace')}"><md-button ui-sref="workspace" class=""><i class="mdi mdi-worker"></i> &nbsp;<span class="text">{{ 'Work Space' | translate }}</span></md-button></li>
				<li ng-class="{active: $state.includes('login')}" ng-click="logout()" ><md-button ui-sref="" class=""><i class="mdi mdi-home-outline"></i> &nbsp;<span class="text">{{ 'Home' | translate }}</span></md-button></li>
			</ul>
		</div>

	</div>
</aside>
<main class=" content-holder">
	<div class="page-content remodal-bg animsition" ng-class="{expandedContainer: $state.includes('users')}" >
		<!-- Your content goes here -->
		<div ui-view ></div>
	</div>
</main>
</div>